.site-header{
    background-color: #1e202b;

}
.logo-text{
    color: white;

}
.logo-text h1{
    font-size: 16px;
    font-weight: 700;
}
.logo-text small{
    font-size: 10px;
    font-weight: 300;

}
nav .navbar-nav .nav-item a{
    padding: 5px 25px;
    border: 2px solid transparent;
    border-radius: 30px;
    color: white;
    font-weight: 400;
}
nav .navbar-nav .nav-item:hover a {
    border-color: #009ad8;
    color: #009ad8;
}

.activee span{
    border: 2px solid #009ad8;
    color: #009ad8;
    padding: 5px 25px;
    border-radius: 30px;
    font-weight: 400;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.photoSec{
    background-image: url(../images/banner.png);
    background-size: cover;
    padding: 70px 0;
    min-height: 350px;
}

.find-location {
    position: relative;
    margin-bottom: 70px;
}


.find-location input[type="text"] {
    width: 100%;
    padding: 20px 50px 20px 20px;
    background: #1e202b;
    color: white;
}

.find-location input[type="button"] {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 0 40px;
    background: #009ad8;
    color: white;
    height: 48px;
}
form input{
    border-radius: 30px;
    height: 57px;
}

.forecast-table{
    background-color: #1e202b;
    min-height: 350px;
    
}

.forecast-container{
    border-radius: 10px;
    top: -150px;
    background: #323544;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 50px;
}

.card-header {
    font-size: 14px;
    font-weight: 400;
}

.card-body .location{
    font-size: 18px;
    font-weight: 400;
}
.card-body .degree{
    font-size: 90px;
    font-weight: 700;
}

.custem{
    color: #009ad8;
}

.card{
    border-color:#262936 ;
}
.card-sec{
    text-align: center;
}
.card2 .card-header{
    background-color:#222530 ;
    
}
.card2 .card-body{
    background-color: #262936;
}


.card .card-header{
    color: #BFC1C8;
    background-color: #2d303d;
}
.card .card-body {
    background-color: #323544;
    color: #BFC1C8;
    border-color: #323544;
}









.site-footer{

    background-color: #262936;
    padding: 50px 0;

}
.site-footer .subscribe-form {
    position: relative;
    margin-bottom: 30px;
}

.site-footer .subscribe-form input[type="text"] {
    padding: 20px 100px 20px 20px; 
    background: #1e202b;
    width: 100%;
    color: white;
}

.site-footer .subscribe-form input[type="submit"] {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    height: 48px;
    background: #009ad8;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
}

.site-footer .social-links a {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    background: #1e202b;
    color: #009ad8;
    text-align: center;
    line-height: 2;
    font-size: 1.4285714286em;
    text-decoration: none;
}

footer p{
    color: white;
}

